.gpt4__whatgpt4 {
    padding: 2rem;
    background: var(--color-footer);
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0 , 0 , 0.25));
}

.gpt4__whatgpt4-feature{
    display: flex;
    
}

.gpt4__whatgpt4-headding{
    display: flex;
    justify-content: space-between;
}

.gpt4__whatgpt4-headding h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.gpt4__whatgpt4-headding p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.gpt4__whatgpt4-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.gpt4__whatgpt4-container .gpt4__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}


.gpt4__whatgpt4-container .gpt4__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .gpt4__whatgpt4-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .gpt3__whatgpt3-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {

    .gpt4__whatgpt4-feature .gpt4__features-container__feature {
        flex-direction: column;
    }
    .gpt4__whatgpt4-headding{
        flex-direction: column;
    }

    .gpt4__whatgpt4-feature .gpt4__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .gpt4__whatgpt4-headding h1{
        line-height: 40px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 350px) {
    .gpt4__whatgpt4-container .gpt4__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}